{{> header}}

<div class="row">

	<main id="index">
		
		<div id="welcome-banner">
			<span class="close"><i class="entypo circled-cross"></i></span>
			<h3>Welcome to HairShare {{ user.firstName }}</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin eros sed eros dapibus laoreet. Aenean finibus interdum viverra. Sed eros quam, facilisis in ultricies ac, fermentum malesuada massa. Vivamus varius malesuada elit sed fringilla. Nullam congue eleifend sapien, id maximus purus fermentum at. In id nisl fermentum, placerat nulla non, sodales eros. Etiam finibus ante vehicula urna interdum sagittis.</p>

			<h3>Style it, Snap it, Share it (your feed aka hairline)</h3>
			<p class="altered-margin">Integer vitae iaculis magna, ac tincidunt velit. Aliquam non mi nec leo pretium ornare vitae laoreet sem. Proin eu lobortis ligula. Cras vel tincidunt augue. Vivamus at mi mollis, sagittis nibh nec, sodales augue. Curabitur commodo lacus eget scelerisque tincidunt. Pellentesque nec fermentum urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

			<a href="/upload" class="btn btn-hs btn-lg btn-wide">Upload</a>
		</div>

		<div id="tab-menu">
			<div class="tab selected">
				<a href="#popular" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-heart"></span> Popular</a>
			</div>
			<div class="tab">
				<a href="#following" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-bullhorn"></span> Following</a>
			</div>
			<div class="tab">
				<a href="#myclassfellows" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-bullhorn"></span> My Class</a>
			</div>
		</div>

		<section id="dashboard-timeline" class="tab-content">

			<div id="popular" class="tab-pane fade in active">
				
			</div>
			<div id="following" class="tab-pane fade in">

			</div>
			
			<div id="myclassfellows" class="tab-pane fade in">

			</div>

		</section>

	</main>
</div>



{{> footer}}
