{{> header}}
		
	<input id="unCroppedPicture" type='hidden' value='/uploads/{{picture.picture}}'>

  <div class="row">
		<main class="sixhun col-xs-12 col-sm-8 col-sm-offset-2">
			<h1 class="sr-only">Edit photo</h1>
			<section>
				<div class="row">
					<div class="col-xs-12" id="photoEditorContainer">


						<div id="crop" class="hs">
							<div class="cropMain"></div>
							<div class="cropSlider"></div>
						</div>
						<div class="alert alert-danger none" role="alert"></div>
						<form method="post" class="full-width" id="editForm">
							<div class="results">
							    <input type="hidden" name="cropX" id="cropX" />
							    <input type="hidden" name="cropY" id="cropY" />
							    <input type="hidden" name="cropW" id="cropW" />
							    <input type="hidden" name="cropH" id="cropH" />
							</div>
							<textarea id="title" name="title" placeholder="Image Title" rows="2" class="countable form-control">{{picture.title}}</textarea><br/>
							<button type="submit" class="btn btn-primary" id="btn-editPhoto">Save</button>

						</form>
					</div>
				</div>
			</section>
		</main>
	</div>
	
{{> footer}}