{{> header}}

<div class="row">

	<main id="index">
		
		<div id="tab-menu">
			<div class="tab selected">
				<a href="#popular" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-heart"></span> Popular</a>
			</div>
			<div class="tab">
				<a href="#following" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-bullhorn"></span> Following</a>
			</div>
		</div>

		<section id="dashboard-timeline" class="tab-content">

			<div id="popular" class="tab-pane fade in active">

			</div>
			<div id="following" class="tab-pane fade in">

			</div>

		</section>

	</main>
</div>



{{> footer}}
