{{> header}}

   	<div class="row">

		<aside class="col-xs-12 col-sm-4 pull-right">
					
			<div class="panel panel-default">
			  <div class="panel-body row">
			    <div class="col-xs-4">
					<img src="/img/place-holder.jpg" alt="place-holder" class="img-responsive" />
				</div>
				<div class="pull-right col-xs-8">
					Username: <a href="/{{ profile.username }}" title="{{ profile.username }}">{{ profile.username }}</a><br>
					Location: UK
					<br>
					Type: Student Account
				</div>
				{{#ifCond profile.id '!==' user.id }}
				<div class="col-xs-12">
					<div class="followUser" data-username="{{ profile.username }}"></div>
				</div>
				{{/ifCond}}
			  </div>
			  <div class="panel-footer">
			  	<div class="row badges">
				  <div class="col-xs-4">
				    <span class="badge">{{countUserPictures}}</span>
				    <span>Hairsnaps</span>
					</div>
				  <div class="col-xs-4">					    
				    <span class="badge">{{countUserFollowers}}</span>
				    <span>Followers</span>
					</div>
					<div class="col-xs-4">
				    <span class="badge">{{countUserLikes}}</span>
				    <span>Likes</span>
					</div>
				</div>
			  </div>
			</div>
			{{#if userPicsTop}}
 			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Your top 3</h3>
			  </div>
			  <div class="panel-body">
			  	<div class="row">
				  {{#each userPicsTop}}
				  	<div class="col-xs-3 col-sm-12 hairshare">

				    	<a href="/picture/{{ slug }}"><img src="/uploads/cropped/{{ picture }}" alt="{{ title }}" class="img-responsive"/></a>
						</div>
					{{/each}}
					<div class="col-xs-3 btn-more visible-xs-block">
						<a href="#" title="Load more photos" id="btn-loadMorePhotos">
					    	<span class="glyphicon glyphicon-plus-sign"></span>
					    	<span>More</span>
					    </a>
					</div>
				</div>
			  </div>
			</div>
			{{/if}}
		</aside>
		<main class="sixhun col-xs-12 col-sm-8">
			<section id="dashboard-timeline">
				<div class="pod-heading">
					<h2>Public</h2>
					<hr>
				</div>	
				<div class="photo">	
			  {{#each userPictures}}
			  	<div class="photo-sm">
			  		<div class="img-holder">
				  		<a href="/picture/{{slug}}" alt="{{title}}"><img width="250" src="/uploads/cropped/{{picture}}" class="img-responsive" ></a>
						</div>
					</div>
			  {{/each}}
			  </div>
			</section>

			{{#ifCond profile.id '===' user.id }}
			
			<section id="dashboard-timeline">
				<div class="pod-heading">
					<h2>Dumpbox <small>(Not Public)</small></h2>
					<hr>
				</div>
				
				<div class="photo">						
			  {{#each userPicturesNoneCropped}}
			  	<div class="photo-sm">
			  		<div class="img-holder">
				  		<a href="/picture/{{slug}}" alt="{{title}}"><img width="250" src="/uploads/{{picture}}" class="img-responsive" ></a>
						</div>
					</div>
			  {{/each}}
			  </div>
			</section>
			{{/ifCond}}
			
		</main>
	</div>



{{> footer}}
