{{> header}}

   	<div class="row">

		<aside class="col-xs-12 col-sm-4 pull-right">
					
			<div class="panel panel-default">
			  <div class="panel-body row">
			    <div class="col-xs-4">
					<img src="/img/place-holder.jpg" alt="place-holder" class="img-responsive" />
				</div>
				<div class="pull-right col-xs-8">
					ID: {{ profile.id }} <br>
					Username: {{ profile.username }} <br>
					Email: {{ profile.email }}<br>
					Created: {{ profile.createdDttm }}<br>
				</div>
				{{#ifCond profile.id '!==' user.id }}
				<div class="col-xs-12">
					<form method="post" action="/{{ profile.username }}">
						<button type="submit" name="follow" id="btn-follow" class="btn btn-block {{#ifCond followStatus '>=' 1 }}btn-link{{else}}btn-primary{{/ifCond}}">
							{{#ifCond followStatus '>=' 1 }}UNFOLLOW{{else}}FOLLOW{{/ifCond}}
						</button>
					</form>
				</div>
				{{/ifCond}}
			  </div>
			  <div class="panel-footer">
			  	<div class="row badges">
				  	<div class="col-xs-4">
					    <span class="badge">25</span>
					    <span>Hairsnaps</span>
					</div>
				    <div class="col-xs-4">
					    <span class="badge">4k</span>
					    <span>Hairshares</span>
					</div>
					<div class="col-xs-4">
					    <span class="badge">1</span>
					    <span>Likes</span>
					</div>
				</div>
			  </div>
			</div>
 			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Your top 3</h3>
			  </div>
			  <div class="panel-body">
			  	<div class="row">
				  	<div class="col-xs-4 col-sm-12">
					    <img src="/img/place-holder.jpg" alt="place-holder" class="img-responsive" />
					</div>
				    <div class="col-xs-4 col-sm-12">
					    <img src="/img/place-holder.jpg" alt="place-holder" class="img-responsive" />
					</div>
					<div class="col-xs-4 col-sm-12">
					    <img src="/img/place-holder.jpg" alt="place-holder" class="img-responsive" />
					</div>
				</div>
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">View more hair snaps</h3>
			  </div>
			  <div class="panel-body">
			  	<div class="row">
				  	<div class="col-xs-3 col-sm-4">
				    	<img src="/img/place-holder.jpg" alt="place-holder" class="img-responsive"/>
					</div>
				    <div class="col-xs-3 col-sm-4">
				    	<img src="/img/place-holder.jpg" alt="place-holder" class="img-responsive"/>
					</div>
					<div class="col-xs-3 col-sm-4">
				    	<img src="/img/place-holder.jpg" alt="place-holder" class="img-responsive"/>
					</div>
					<div class="col-xs-3 mobile-only">
						<a href="#" title="Load more photos" id="btn-loadMorePhotos">
					    	<span class="glyphicon glyphicon-plus-sign"></span>
					    	<span>More</span>
					    </a>
					</div>
					<div class="mobile-hide">
						<div class="col-xs-3 col-sm-4">
					    	<img src="/img/place-holder.jpg" alt="place-holder" class="img-responsive"/>
						</div>
					    <div class="col-xs-3 col-sm-4">
					    	<img src="/img/place-holder.jpg" alt="place-holder" class="img-responsive"/>
						</div>
						<div class="col-xs-3 col-sm-4">
					    	<img src="/img/place-holder.jpg" alt="place-holder" class="img-responsive"/>
						</div>
						<div class="col-xs-3 col-sm-4">
					    	<img src="/img/place-holder.jpg" alt="place-holder" class="img-responsive"/>
						</div>
					    <div class="col-xs-3 col-sm-4">
					    	<img src="/img/place-holder.jpg" alt="place-holder" class="img-responsive"/>
						</div>
						<div class="col-xs-3 col-sm-4">
					    	<img src="/img/place-holder.jpg" alt="place-holder" class="img-responsive"/>
						</div>
					</div>
				</div>
			  </div>
			</div> 

		</aside>
		<main class="col-xs-12 col-sm-8">
			<section id="dashboard-timeline">

				<div class="photo">						
			  {{#each userPictures}}
			  	<div class="photo-sm">
				  <a href="/picture/{{slug}}" alt="{{title}}"><img width="250" src="/uploads/{{picture}}" class="img-responsive" ></a>
				</div>
			  {{/each}}
			  </div>
			</section>
		</main>
	</div>



{{> footer}}
