{{> header}}

   	<div class="row">
		<main>

			<header>
				<h1 class="text-center">Signup</h1>
			</header>

			<section class="col-md-4 col-md-offset-4">
				<div class="alert none alert-fix-padding" role="alert"></div>
				<form method="post" id="signup-form">
					<div class="form-group" id="email">
						<label>Email</label>
						<input type="email" name="email" class="form-control input-lg" placeholder="Email Address">
					</div>
					<div class="form-group" id="username">
						<label>Username</label>
						<input type="text" name="username" class="form-control input-lg" placeholder="Username">
					</div>
					<div class="form-group" id="password">
						<label>Password</label>
						<input type="password" name="password" class="form-control input-lg" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-primary btn-lg" id="btn-signup">Signup</button>
				</form>
			</section>
		</main>		
	</div>
		


{{> footer}}