{{> header}}


   	<div class="row">
		<article class="col-xs-12 col-sm-8 pull-right">
			<header>
				<h1>Questions</h1>
			</header>

			<section>
				<form method="post">

					<label>When did you last cut your hair?</label>
					<select name="q1">
						<option value="one">One</option>
						<option value="two">Two</option>
						<option value="three">Three</option>
					</select>

					<br>

					<label>How much did it cost you rougly?</label>
					<input type="text" name="q2" placeholder="cost">

					<br>

					<label>What is your favourite hairstyle?</label>
					<select name="q3">
						<option value="one">One</option>
						<option value="two">Two</option>
						<option value="three">Three</option>
					</select>

					<br>

					<label>What type of hair do you have?</label>
					<select name="q4">
						<option value="one">One</option>
						<option value="two">Two</option>
						<option value="three">Three</option>
					</select>

					<br>

					<label>Current hair colour?</label>
					<select name="q5">
						<option value="one">One</option>
						<option value="two">Two</option>
						<option value="three">Three</option>
					</select>

					<br>

					<label>Current salon location?</label>
					<input type="text" name="q6" placeholder="location">

					<br>

					<label>How often do you cut?</label>
					<select name="q7">
						<option value="one">One</option>
						<option value="two">Two</option>
						<option value="three">Three</option>
					</select>

					<br>

					<input type="submit" name="submit" class="btn btn-default"  id="btn-steptwo">

				</form>

			</section>
		</article>
		<aside class="col-xs-12 col-sm-4">
				left 
		</aside>
	</div>



{{> footer}}