{{> header}}


  <div class="row">
		<main>
			<header>
				<h1 class="text-center heading-one">Welcome to HairShare</h1>
				<h2 class="text-center heading-two">Tell us a bit about yourself</h1>
				<h3 class="text-center heading-three">We need this to set up your individual profile</h1>
			</header>

			<section class="col-md-8 col-md-offset-2">
				<div class="alert none alert-fix-padding" role="alert"></div>

				<form method="post" id="signup-form" class="form-horizontal"  role="form">

						<div class="form-group has-feedback" id="gender">
							<div class="col-md-8 col-md-offset-2">
								<input type="hidden" name="gender" value="1">
								<a href="#" id="male" class="gender-btn">Male</a>
								<a href="#" id="female" class="gender-btn selected">Female</a>
							</div>
						</div>

					<div class="col-md-6">
						<div class="form-group has-feedback" id="firstName">
							<label>First Name</label>
							<div class="col-md-11  no-padding-side">
								<input type="text" name="firstName" class="form-control" placeholder="First Name">
							</div>
						</div>

						<div class="form-group" id="course">
							<label>Currently Studying</label>
							<div class="col-md-11 no-padding-side">
								<select id="course" name="course" class="form-control">
									<option selected disabled>Course</option>
									<option value="one">One</option>
									<option value="two">Two</option>
									<option value="three">Three</option>
								</select>
							</div>
						</div>

						<div class="form-group has-feedback" id="lastCutCost">
							<label>How much did it cost you?</label>
							<div class="col-md-11 input-group  no-padding-side">
								<span class="input-group-addon">£</span>
								<input type="text" name="lastCutCost" class="form-control" placeholder="12.50">
							</div>
						</div>

					</div>
					
					<div class="col-md-6">

						<div class="form-group has-feedback" id="lastName">
							<label>Last Name</label>
							<div class="col-md-11  no-padding-side">
								<input type="text" name="lastName" class="form-control" placeholder="Last Name">
							</div>
						</div>

						<div class="form-group" id="hairType">
							<label>What is your hair type?</label>
							<div class="col-md-11  no-padding-side">
								<select name="hairType" class="form-control">
									<option selected disabled>Hair Type</option>
									<option value="one">One</option>
									<option value="two">Two</option>
									<option value="three">Three</option>
								</select>
							</div>
						</div>

						<div class="form-group" id="lastHairSalon">
							<label>Last visit to hairsalon/barber</label>
							<div class="col-md-11  no-padding-side">
								<select name="lastHairSalon" class="form-control">
									<option selected disabled>Last Visit</option>
									<option value="one">One</option>
									<option value="two">Two</option>
									<option value="three">Three</option>
								</select>
							</div>
						</div>

					</div>

					<div class="col-sm-6 col-sm-offset-6">
						<button type="submit" class="btn btn-hs btn-lg btn-wide pull-right"  id="btn-steptwo">Done</button>
					</div>
				</form>

			</section>
		</main>
	</div>



{{> footer}}