@import "bootstrap/bootstrap.less";
@import "crop.less";
@import "entypo.less";

@color-error: #ff0000;
@color-primary: #2de0c5;
@color-dark-primary: #24a390;
@color-orange: #f7941d;
@color-white:#ffffff;
@color-yellow:#EEE509;
@color-purple: #a984bd;
@color-light-pink: #F377B9;
@color-pink: #ED2D94;

@brand-primary:@color-primary;
@font-colour: @color-white;
@color-panel-header: @color-white;
@color-border: @color-primary;

@vertical-margin:10px;
@horizontal-margin:5px;

@large-font-size:30px;


/* MIXINS */
.after() {
    &:after {

      content: "";
      clear: both;
      display: block;
    }
}
.transition() {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out; /* IE10 is actually unprefixed */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.border-radius-tl(@radius) {
  -webkit-border-top-left-radius: @radius;
  -moz-border-radius-topleft: @radius;
  border-top-left-radius: @radius;
}

.border-radius-tr(@radius) {
  -webkit-border-top-right-radius: @radius;
  -moz-border-radius-topright: @radius;
  border-top-right-radius: @radius;
}

.border-radius-bl(@radius) {
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-radius-bottomleft: @radius;
  border-bottom-left-radius: @radius;
}

.border-radius-br(@radius) {
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-radius-bottomright: @radius;
  border-bottom-right-radius: @radius;
}

.none {
	display: none;
}

/* CSS STYLING */
body { 
  padding-top: 70px;
  font-family: 'Montserrat', sans-serif;
  background-color: #eaedf1;
}

hr {
	border-color: darken(#eeeeee, 5%);
}

nav {
	.btn-default {
		&, &:link, &:active, &:visited {
	  	color: #00E1C5 !important;
	  	border: 2px solid #00E1C5;
	  	.transition();
	  }
	  &:hover {
	  	color: darken(#00E1C5, 5%) !important;
	  	border: 2px solid darken(#00E1C5, 5%);
	  	background-color: transparent !important;
	  }
	}
}
.btn-link {
	&, &:link, &:active, &:visited {
		text-decoration: none !important;
  	color: #00E1C5 !important;
  	border: none;
  	.transition();
  }
  &:hover {
  	color: darken(#00E1C5, 5%) !important;
  	text-decoration: none !important;
  }
}


footer#site-footer {
	text-align: center;
	margin-bottom: 15px;
	.btn-link {
		&, &:link, &:active, &:visited {
	  	color: #a1a1a1 !important;
	  	.transition();
	  }
	  &:hover {
	  	color: #00E1C5 !important;
	  }
	}
}


#tab-menu {
	.after();
	.tab {
		background-color: lighten(#f6f6f6, 5%);
		padding: 10px 0;
		margin: 0 0.5%;
		float: left;
		width: 49.5%;
		font-size: 24px;
		text-align: center;
		.border-radius-tr(5px);
		.border-radius-tl(5px);

		@media (max-width: 466px) { 
			font-size: 16px;
		}

		&:first-child {
			margin-left: 0 !important;
		}
		&:last-child {
			margin-right: 0 !important;
		}

		&.selected {
			background-color: #00E1C5;
			color: #ffffff;
		}
	}
}
.tab{
	a{
		text-decoration: none;
		display: block;
	}
	&.selected{
		a{
			color: @color-white;
		}	
	}
}
#dashboard-timeline {
	border: 1px solid #E1E1E1; /* lighten(#ccc, 5%); #00E1C5;*/
	background-color: #ffffff;
	.border-radius(5px);
	padding: 20px 0 10px 0;
	.after();
	/* -webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 0px 1px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 0px 1px 0px rgba(50, 50, 50, 0.25);*/
}

.photo-sm {
	text-align: center;
	/*width: 33.33%;*/
	width: 25%;
	float: left;
	padding: 14px 0;

	@media (max-width: 620px) { 
		width: 33.33%;
	}

	@media (max-width: 466px) { 
		width: 50%;
	}

	img {
		width: 150px;
		height: 182px;
	}

	.img-holder {
		position: relative;
		width: 150px;
		height: 182px;
		margin: 0 auto;
	}
}

span.nav-devide  {
	color: darken(#f6f6f6, 5%);
}

/*.nav-hairshare {
	//float: right;
	text-align: right;
	margin: 20px;
	.btn {
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
	}
}*/




header{
	margin-bottom: 10px;
	img{
		max-height: 80px;
	}
}

article{
	padding: 20px;
	background: @color-primary;
	form{
		padding: 10px;
		&.margin{
			width: 40%;
			text-align: center;
			margin: auto;
		}
		&.full-width{
			width: 100%;
			max-width: 600px;
			.center-block();
		}
	}
}
.sixhun {
	max-width: 600px;

	.photo-sm {
		width: 33.33%;

		@media (max-width: 620px) { 
			width: 50%;
		}

/*		@media (max-width: 466px) { 
			width: 50%;
		}*/

	}

}
main{
	padding: 0 !important;
	form{
		padding: 20px;
		
		.center-block();
		&.margin{
			text-align: center;
			padding: 10% 20%;
		}
		&.full-width{
			width: 100%;
			max-width: 600px;
		}
		.btn-default{
			background: @color-orange;
			color: @color-white;
		}
		.fileUpload {
			position: relative;
			overflow: hidden;
			margin: @vertical-margin 0;
		}
		.fileUpload input.upload {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			font-size: 20px;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.progress{
			display: none;
			margin-top: 20px;
			.progress-bar{
				background-color: @color-purple;
			}
		}
		
		input{
			&[name=filename]{
				background: none;
				border: none;
			}
		}
	}
}
aside{
	max-width: 309px;
	padding: 0 !important;
}
section{
	margin: 0 0 @vertical-margin 0;
}
.message{
	&.error{
		color: @color-error;
	}
	
}

/* buttons */
.btn-link{
	color: @color-error;
	&:hover{
		color: @color-error;
		text-decoration: underline;
	}
}
/*#btn-follow, 
#btn-like{
	text-transform: uppercase;
}*/

/* navs */
.nav-pills > li > a{
	background: @brand-primary;
	color: @font-colour;
}
.nav-pills > li{
	&.active{
		a{
			background: @color-dark-primary;
		}
	}
}

/* photo editor */
#photoEditorContainer{
	/*padding: 0 10px;*/
}
#photoEditor{
	overflow: hidden;
	position: relative;
	display: block;
	width: 600px;
	margin:auto;
	max-width: 600px !important;
	height: 730px;
	#cropPhoto{
		position: absolute;
	}
}

/* photo page */
#comments{
	background: @color-white;
	margin-top: @vertical-margin;
	ul{
		list-style: none;
		padding: 0 10px;
		li{
			border-bottom: 1px solid  @color-border;
			padding: 20px 0;
			img{
				max-width: 60px;
			}
		}
	}
	.username{
		color:@color-primary;
	}
}


/* SIDEBAR */
.panel-default {
	border-color: @color-border;
	& > .panel-heading{
		background-color: @color-primary;
		color: @color-panel-header;
	}
	.panel-body{
		.col-xs-4,
		.col-xs-3{
			padding:@horizontal-margin;
			&.col-sm-12{
				padding: @vertical-margin @vertical-margin*2;
			}
		}
	}
	.badges{
		text-align: center;
		color: @color-purple;
		.badge{
			font-size:@large-font-size;
			display: block;
			color: @color-yellow;
			background: none;
		}
	}
}

.alert-fix-padding {
	margin-bottom: 0 !important;
	margin-top: 8px !important;
}


@media (max-width: @screen-sm-min) { 
	article{
		form{
			&.margin{
				width: 100%;
			}
		}
	}
	main{
		max-width: none;
		padding: 0 !important;
	}
	aside{
		max-width: none;
		padding: 0 !important;
	}
	#btn-loadMorePhotos{
		display: inline-block;
		text-align: center;
		text-decoration: none;
		display: block;
		span{
			color: @color-purple;
			display: block;
			font-size: 1.2em;
			&.glyphicon{
				font-size: 4em;	
			}
		}	
	}
	.panel-default {
		.panel-body{
			.col-xs-4,
			.col-xs-3{
				&.col-sm-12{
					padding: @horizontal-margin;
				}
			}
		}
	}
	.mobile-hidden{
		.panel-heading{
			display: none;
		}
		display: none;
		border-top: none;
		margin-top: -50px;
		border-radius: 0 0 10px 10px;
	}
}


.form-horizontal label {
	text-align: right;
	margin-bottom: 0;
	padding-top: 7px;
}


/* NAV */

.navbar-logo img {
	margin: 2px 0;
	width: 230px;
	height: 46px;
}

.navbar-default {
  background-color: #a984bd;
  color: #ffffff;
  text-transform: uppercase;

  .navbar-nav > .active > a {
		background-color: #3bdfc5;
		.transition();

		&, &:hover, &:active, &:visited, &:link {
			color: #ffffff;
		}
		&:hover {
			background-color: darken(#3bdfc5, 8%);
		}
	}

	> a {
		&, &:hover, &:active, &:visited, &:link {
			color: #ffffff;
		}
	}

	.navbar-nav > .open > a {
		&, &:hover, &:focus {
			background-color: transparent;
			color: #ffffff;
		}
	}

	.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color: #ffffff;
	}

	.navbar-nav > li > a {
		&, &:hover, &:active, &:visited, &:link {
			color: #ffffff;
		}
	}

}

.no-padding-side {
	padding-left: 0;
	padding-right: 0;
}

.gender-btn {
	width: 150px;
	height: 153px;
	display: inline-block;
	text-align: center;
	background-image: url('../img/badge_button_normal.png');
	background-size: 150px 153px;
	margin: 10px;
	padding-top: 55px;
	font-size: 28px;
	&, &:hover, &:active, &:visited, &:link {
		color: #ffffff;
		text-decoration: none;
	}

	.transition();

	&:hover {
		background-image: url('../img/badge_button_hover.png');
	}

	&.selected {
		background-image: url('../img/badge_button_selected.png');	
		&, &:hover, &:active, &:visited, &:link {
			color: #A3A5A6;
			text-decoration: none;
			cursor: default;
		}
	}

}

#gender {
	text-align: center;
}


.heading-one {
	color: #6f7071;
	font-size: 36px;
}

.heading-two {
	color: #a3a5a6;
	font-size: 24px;
}

.heading-three {
	color: #a3a5a6;
	font-size: 18px;
}


/*Custom Button*/
.btn-hs { 
  color: #FFFFFF; 
  background-color: #ED2D94; 
  border-color: #ED2D94; 
} 
 
.btn-hs:hover, 
.btn-hs:focus, 
.btn-hs:active, 
.btn-hs.active, 
.open .dropdown-toggle.btn-hs { 
  color: #FFFFFF; 
  background-color: #ed2d94; 
  border-color: #ED2D94; 
} 
 
.btn-hs:active, 
.btn-hs.active, 
.open .dropdown-toggle.btn-hs { 
  background-image: none; 
} 
 
.btn-hs.disabled, 
.btn-hs[disabled], 
fieldset[disabled] .btn-hs, 
.btn-hs.disabled:hover, 
.btn-hs[disabled]:hover, 
fieldset[disabled] .btn-hs:hover, 
.btn-hs.disabled:focus, 
.btn-hs[disabled]:focus, 
fieldset[disabled] .btn-hs:focus, 
.btn-hs.disabled:active, 
.btn-hs[disabled]:active, 
fieldset[disabled] .btn-hs:active, 
.btn-hs.disabled.active, 
.btn-hs[disabled].active, 
fieldset[disabled] .btn-hs.active { 
  background-color: #ED2D94; 
  border-color: #ED2D94; 
} 
 

.btn-hs-two { 
  color: #FFFFFF; 
  background-color: #F377B9; 
  border-color: #F377B9; 
} 
 
.btn-hs-two:hover, 
.btn-hs-two:focus, 
.btn-hs-two:active, 
.btn-hs-two.active, 
.open .dropdown-toggle.btn-hs-two { 
  color: #FFFFFF; 
  background-color: #F377B9; 
  border-color: #F377B9; 
} 
 
.btn-hs-two:active, 
.btn-hs-two.active, 
.open .dropdown-toggle.btn-hs-two { 
  background-image: none; 
} 
 
.btn-hs-two.disabled, 
.btn-hs-two[disabled], 
fieldset[disabled] .btn-hs-two, 
.btn-hs-two.disabled:hover, 
.btn-hs-two[disabled]:hover, 
fieldset[disabled] .btn-hs-two:hover, 
.btn-hs-two.disabled:focus, 
.btn-hs-two[disabled]:focus, 
fieldset[disabled] .btn-hs-two:focus, 
.btn-hs-two.disabled:active, 
.btn-hs-two[disabled]:active, 
fieldset[disabled] .btn-hs-two:active, 
.btn-hs-two.disabled.active, 
.btn-hs-two[disabled].active, 
fieldset[disabled] .btn-hs-two.active { 
  background-color: #F377B9; 
  border-color: #F377B9;
} 
 
.btn-hs-two .badge { 
  color: #F377B9; 
  background-color: #FFFFFF; 
}


.btn-hs .badge { 
  color: #ED2D94; 
  background-color: #FFFFFF; 
}

.btn-wide {
	padding-left: 40px;
	padding-right: 40px;
}


@media (min-width: @screen-md-min) { 
	#signup-form {
		.btn-hs {
			margin-right: 20px;
		}
	}
}


/* Will come in handy for the border: http://jsfiddle.net/TtR3b/2/ */
.hairshare img, .photo-sm img {
	-webkit-mask-image: url('../img/HS_badge.svg');
	-o-mask-image: url('../img/HS_badge.svg');
	-moz-mask-image: url('../img/HS_badge.svg');
	mask-image: url('../img/HS_badge.svg');
	-webkit-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}


.photo-btn {
	background-color: rgba(0, 0, 0, 0.6);
	width: 48px;
	.border-radius-tr(5px);
	.border-radius-br(5px);
	display: block;
	padding: 2px;
	left: 0px;
	top: 30px;
	position: absolute;
	z-index: 99;

	&.mini {
		top: 10px;
		width: 36px;
		.like-btn {
			font-size: 10px;
			i {
				font-size: 40px;
				line-height: 16px;
			}
		}
	}
}


.like-btn {
	text-align: center;
	color: #FFFFFF !important;
	background-color: transparent;
	outline: none;
	border: none;
	.transition();
	line-height: 15px;

	&:hover {
		color: darken(#FFFFFF, 15%) !important;
		i {
			color: @color-light-pink !important;
		}
	}

	i {
		font-size: 60px;
		line-height: 30px;
		color: @color-pink !important;
		.transition();
	}

	&.like {
		i {
			color: @color-light-pink !important;
		}
		&:hover {
			i {
				color: @color-pink !important;
			}
		}
	}

	&.unlike {
		
	}
}


#photoContainer {
	position: relative;
	overflow: hidden;
	.center-block();

	form {
		padding: 0;
	}
}

#index {
	h1, p {
		color: @color-purple;
		text-align: center;
	}

	p {
		margin-bottom: 40px;
	}

	#collage-badges {
		float: left;
	}
}

#welcome-banner {
	width: 100%;
	height: auto;
	padding: 20px;
	font-size: 14px;
	background-color: darken(#EAEDF1, 5%);
	.border-radius(5px);
	margin-bottom: 20px;
	position: relative;

	h3 {
		text-align: left;
		color: #A4A5A5;
	}

	p {
		text-align: left;
		color: #707072;

		&.altered-margin {
			margin-bottom: 15px;
		}
	}

	.close {
		position: absolute;
		top: 6px;
		right: 6px;
		i {
			font-size: 50px;
			line-height: 25px;
		}
	}
}


.upload-btn {
	width: 300px;
	height: 246px;
	display: block;
	background-image: url('../img/upload_normal.png');
	background-size: 300px 246px;
	margin: 0 auto;
	cursor: pointer;

	&, &:hover, &:active, &:visited, &:link {
		text-decoration: none;
	}

	.transition();

	&:hover {
		background-image: url('../img/upload_hover.png');
	}
}


.imageUpload {
	position: absolute;
	left: -100%;
}


.pod-heading {
	margin-top: -15px;
	h2 {
		padding: 0;
		margin: 5px 0 5px 10px;
	}

	hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}


























