@import "bootstrap/bootstrap.less";


@color-error: #ff0000;
@color-primary: #2de0c5;
@color-dark-primary: #24a390;
@color-orange: #f7941d;
@brand-primary:@color-primary;
@font-colour: #ffffff;

body { 
  padding-top: 10px;
}

a {
	&, &:link, &:active, &:visited {
  	color: #F92772 !important;
  }
}

header{
	margin-bottom: 10px;
	img{
		max-height: 80px;
	}
}

article{
	padding: 20px;
	background: @color-primary;
	form{
		&.login{
			width: 40%;
			text-align: center;
			margin: auto;
		}
	}
}
.message{
	&.error{
		color: @color-error;
	}
	
}
.btn{
	background: @color-orange;
}

.nav-pills > li > a{
	background: @brand-primary;
	color: @font-colour;
}
.nav-pills > li{
	&.active{
		a{
			background: @color-dark-primary;
		}
	}
}
@media (max-width: @screen-xs-max) { 
	article{
		form{
			&.full-width{
				width: 100%;
			}
		}
	}
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { 
}
@media (min-width: @screen-lg-min) { 
}